@font-face {
  font-family: "Blackhawk";
  src: url("./assets/fonts/Blackhawk-3R58.otf") format("opentype");
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background: url("./assets/images/detail-page/background.png") no-repeat center
    center fixed;

  background-size: cover;
}

body {
  display: grid;
  grid-template-columns: max-content 1fr max-content max-content max-content;
  grid-template-rows: 10.3rem 10rem max-content;
  column-gap: 0.2rem;
}

.balance {
  position: fixed;
  color: #30ad66;
  width: 35rem;
  background-color: #adffc0;
  padding: 1.5rem;
  border: 1rem solid #30ad66;
  font-family: "Blackhawk", sans-serif;
  font-size: 7rem;
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.balance__text {
  display: flex;
  flex-flow: row;
}

.colon {
  font-size: 5rem;
  align-self: flex-end;
}

.piggybank {
  grid-row: span 3;
  display: grid;
  grid-template-rows: 22rem max-content;
  justify-items: center;
  height: 80.1rem;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.piggybank::-webkit-scrollbar {
  display: none;
}

.piggybank__bank {
  margin: 0rem 2rem;
}

.piggybank__transactions {
  color: #212121;
  background-color: #f7fcdc;
  line-height: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 1.8rem;
  width: 60rem;
  margin-bottom: 25rem;
  z-index: 2;
}

.piggybank__transactions--transaction {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  padding: 1rem;
}

.piggybank__transactions--transaction:nth-child(odd) {
  background-color: #f4f3ad;
}

.selected {
  border: 0.3rem solid #212121;
}

.piggybank__transactions--transaction__source {
  font-weight: normal;
}

.extrainfo__container {
  align-self: center;
  justify-self: center;
  grid-row: 2 / span 2;
  grid-column: 2 / span 3;
  background-color: #186baf;
  padding: 2rem;
  border: 1rem solid #cfd0d6;
  border-radius: 4rem;
  margin: 7rem 11rem;
  width: 40rem;
  height: 55rem;
  z-index: 3;
}

.summary {
  display: grid;
  grid-template-rows: max-content max-content 0 max-content max-content;
  grid-template-columns: 15rem 19rem;
}

.summary__date--field {
  grid-column: span 2;
  justify-self: flex-end;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
  color: #212121;
  background-color: #fefefe;
  padding: 1.5rem;
  border: 0.5rem solid #cfd0d6;
  border-radius: 1.5rem;
  width: fit-content;
}

.summary__sender {
  grid-column: span 2;
}

.summary__sender--header {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
  color: #d9e8f4;
  margin-left: 1rem;
  margin-top: 3rem;
}

.summary__sender--field {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
  color: #212121;
  background-color: #fefefe;
  padding: 2rem;
  border: 0.5rem solid #cfd0d6;
  border-radius: 1.5rem;
  width: 18rem;
}

.summary__arrow {
  grid-row: 3;
  grid-column: 1;
  width: 11rem;
  justify-self: center;
  margin-top: 1rem;
  margin-left: 5rem;
}

.summary__amount {
  grid-row: 4;
  color: #30ad66;
  width: 10rem;
  height: fit-content;
  background-color: #adffc0;
  padding: 0.8rem 1.5rem;
  margin-top: 2.5rem;
  margin-left: 2rem;
  border: 0.5rem solid #30ad66;
  font-family: "Blackhawk", sans-serif;
  font-size: 3rem;
  text-align: center;
}

.summary__recipient {
  grid-row: 4;
  grid-column: 2;
  justify-self: flex-end;
}

.summary__recipient--header {
  text-align: end;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
  color: #d9e8f4;
  margin-right: 1rem;
}

.summary__recipient--field {
  justify-self: flex-end;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
  color: #212121;
  background-color: #fefefe;
  padding: 2rem;
  border: 0.5rem solid #cfd0d6;
  border-radius: 1.5rem;
  width: 18rem;
}

.summary__message {
  grid-row: 5;
  grid-column: span 2;
}

.summary__message--header {
  align-self: flex-start;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
  color: #d9e8f4;
  margin-left: 1rem;
  margin-top: 4rem;
}

.summary__message--field {
  justify-self: flex-end;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
  color: #212121;
  background-color: #fefefe;
  padding: 1.5rem;
  border: 0.5rem solid #cfd0d6;
  border-radius: 1.5rem;
  width: 100%;
  height: 15rem;
}

.changename__button {
  grid-row: 1;
  grid-column: 3;
}

.filter__button {
  grid-row: 1;
  grid-column: 4;
}

.return__button {
  grid-row: 1;
  grid-column: 5;
}

.changename__popupform--form {
  background-color: #186baf;
  margin: auto;
  padding: 1.5rem;
  border: 0.5rem solid #cfd0d6;
  width: 25rem;
  border-radius: 2rem;
  z-index: 5;
}

.changename__popupform {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
